# Solo Backend
/app
/bin
/certificates
/documentation
/plugin
/src
/main/admin
/main/announcements
/main/attendance
/main/auth
/main/badge
/main/blog
/main/calendar
/main/chat
/main/common_cartridge
/main/course_description
/main/course_home
/main/course_info
/main/course_progress
/main/coursecopy
/main/create_course
/main/dashboard
/main/default_course_document
/main/document
/main/dropbox
/main/exercise
/main/extra
/main/extrafield
/main/fonts
/main/forum
/main/gamification
/main/glossary
/main/gradebook
/main/group
/main/help
/main/img 
/main/inc 
/main/install
/main/lang
/main/link
/main/lp
/main/mail_template
/main/messages
/main/mySpace
/main/notebook
/main/notification_event
/main/palettes
/main/permissions
/main/plagiarism
/main/portfolio
/main/search
/main/session
/main/social
/main/survey
/main/ticket
/main/timeline
/main/tracking
/main/upload
/main/user
/main/webservices
/main/wiki
/main/work
/main/index.html
/main/cron

# Cache directories

app/cache/*
!app/cache/.gitkeep
!app/cache/.htaccess

app/logs/*
!app/logs/.gitkeep

# Chamilo configuration
/app/config/parameters.yml
/app/config/add_course.conf.php
/app/config/auth.conf.php
/app/config/course_info.conf.php
/app/config/events.conf.php
/app/config/mail.conf.php
/app/config/profile.conf.php
/app/config/configuration.php

# Courses
app/courses/*
!app/courses/proxy.php

# Home
app/home/*

# Upload content
app/upload/*

.php_cs.cache

# Logs and databases #
*.log

# IDE settings
.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*

# Plugins config files
plugin/bbb/config.vm.php

# Cron temp files
main/cron/incoming/*
plugin/vchamilo/templates/*

# Stuff updated through composer - Remove just before release
/vendor
web/assets
web/build
web/css/base.css
web/css/chat.css
web/css/custompage.css
web/css/dialog.css
web/css/document.css
web/css/editor_content.css
web/css/editor.css
web/css/markdown.css
web/css/print.css
web/css/responsive.css
web/css/scorm.css

node_modules
yarn.lock

.bowerrc
.codeclimate.yml
.editorconfig
.flintci.yml
.gitattributes
.htaccess
.php_cs
.php_cs.dist 
.scrutinizer.yml
.travis.yml
.yamllint_config
apple-touch-icon.png
bower.json
cli-config.php
CODE_OF_CONDUCT.md
codesize.xml
composer.json
composer.lock
CONTRIBUTING.md
favicon.ico 
favicon.png
index.php
LICENSE
license.txt
news_list.php
README.md
robots.txt
terms.php 
user_portal.php
user.php
web.config
whoisonline.php
whoisonlinesession.php
